.release-plan__wrapper {
    max-width: 1270px;
    padding: 0 20px;
    margin: auto;
    margin-bottom: 120px;
}

.release-plan__blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}


@media (max-width: 1270px) { 
    .release-plan__blocks {
        align-items: stretch;
    }

    .release-plan__wrapper {
        margin-bottom: 50px;
    }
    
}