.team-member__information {
    background: #FFFFFF;
    border-top: 6px solid #DA25E2;
    padding: 15px;
    font-family: 'Exo', sans-serif;
    width: 220px;
    max-width: 100%;
    color: #000;
}

.team-member__name {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

.team-member__position {
    text-align: center;
    font-size: 18px;
}

.team-member__img {
    max-width: 100%;
    margin-bottom: -17px;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% - 80px) / 4);
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .team-member__name {
        font-size: 20px;
    }

    .team-member__information {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .team-member__img {
        margin-bottom: 0;
    }
}

@media (max-width: 992px) {
    .team-member {
        width: calc((100% - 40px) / 2);
    }

    .team-member__information {
        width: 270px;
    }
}

 @media (max-width: 576px) {
    .team-member__img {
        max-width: initial;
        width: 230px;
    }
}


@media (max-width: 450px) {
    .team-member__img {
        width: 190px;
    }
}