.one-phase-wrapper {
    max-width: 670px;
}

.one-phase-title {
    font-family: 'Exo', sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
    color: #fff;
    margin-bottom: 65px;
}

.one-phase-info {
    margin-bottom: 90px;
}

@media (max-width: 1270px) {
    .one-phase-title,
    .one-phase-info {
        margin-bottom: 45px;
    }
}

@media (max-width: 1200px) {
    .one-phase-title {
        font-size: 35px;
        line-height: 46px;
        margin-bottom: 40px;
    }

    .one-phase-info {
        margin-bottom: 50px;
    }
}

@media (max-width: 992px) {
    .one-phase-title {
        margin-bottom: 30px;
    }

    .one-phase-info {
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .one-phase-wrapper {
        max-width: 100%;
    }
}

@media (max-width: 576px) {
    .one-phase-title {
        font-size: 30px;
        line-height: 45px;
    }
}

@media (max-width: 400px) {
    .one-phase-title {
        font-size: 25px;
        line-height: 40px
    }
}